html {
    height: 100%;
}

body {
    font-family: "Georgia", Times, serif;
    text-align: center;
    vertical-align: center;
}

header {
    background-color: rgb(43, 204, 86);
    width: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 24px;
    position: absolute;
}

#root {
    width: 900px;
    margin: 180px auto 20px auto;
}

.game {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.game-info {
    font-size: 24px;
}

button {
    width: 100%;
    height: auto;
    color: white;
    font-family: "Georgia", Times, serif;
    font-size: 1.5rem;
    background: lightgreen;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: lightgreen;
    border: 3px solid #999;
    border-radius: 8px;
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: 3.5px;
    margin-top: 3.5px;
    padding: 0;
    width: 150px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

footer {
    position: absolute;
    background-color: rgb(43, 204, 86);
    color: white;
    font-size: 1em;
    font-style: italic;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

footer a:hover {
    color: white;
}